* {
    box-sizing: border-box;
    margin: 0px;
}
.img-login{
  margin-top: 50px;
  height: 100px;
}

.contenedor-login{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 450px;
  height: 3710px;
  margin: 15px 0px;
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
}

h4{
  margin: 30px 0px;
  font-size: 25px;
}

.formulario{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 90%;
  max-width: 500px;
  height: 350px;
  border-top: 0.8px solid #A1A1A1 ;
  border-bottom: 0.8px solid #A1A1A1 ;
}

input{
  outline: none;
}

.contenedor-input{
  margin-top: 12px;
}

.formulario input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 5px 0px;
  border: 1.5px solid gray;
  border-radius: 5px;
}
input:focus{
  border-color: green;
}

.contenedor-boton{
  height: 50px;
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton-formulario{
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: green;
}

p{
  margin: 25px 0px;
  font-size: 15px;
}


/*Media Queries*/
@media (max-width:500px){
  .img-login{
    height: 85px;
  }
}